/* regole genrali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    width: 100%;
    height: 500px;
    color: white;
}
h1{
    margin-bottom: 40px;
}

p{
    line-height: 150%;
}

/* container centratore */

.center-box{
    /* padding-top: 20px; */
    width: 80%;
    margin: auto;
}
    /* header menu*/

#head-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-color: white;
    border: solid 1px black;
    height: 50px;
    width: 100px;
}

#head-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-basis: 400px;
}

header ul > li > a{
    font-style: unset;
} 

button{
    height: 50px;
    min-width: 100px;
    border-radius: 50px;
    
}

    /* header corpo */

header section{
    margin: 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


header section > p{
    margin-bottom: 15px;
}

#head-button{
    display: flex;
    justify-content: space-between;
    
}

    /* main corpo */

main .main-section{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
main section img{
    height: 200px;
    width: 45%;
    background-color: rgb(34, 39, 42);
}

main section .testo-section{
    width: 45%;
}

main > section:nth-child(2) .main-section{
    flex-direction: row-reverse;
}


main .main-section.bottom{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    min-height: 600px;
}

main > section:nth-child(even){
    background-color: rgb(245, 245, 245);
}


    /* footer corpo */

footer{
    background-color: rgb(34, 39, 42);
    width: 100%;
}

footer #footer-nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid darkgray;
    margin-bottom: 10px;
}

.footer-menu{
    background-color: darkgray;
    border: 1px solid black;
    height: 200px;
    width: 80px;
    margin: 30px 0;
}

 footer #bottom-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
 }

/* debug */


/*
#center-box{
    height: 500px;
    background-color: yellowgreen;
    border: solid 1px black;
}
*/